@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --color-grey-10: #BEBEBE;
    --color-grey-15: #707070;
    --color-grey-20: #F5F5F5;
    --color-white: #FFFFFF;
    --color-red: #FF7373;
    --color-darkblue: #23262A;
    --color-lightblue: #616365;

    --font-poppins: 'poppins', sans-serif;
    --font-weight-regular:400;
    --font-weight-medium:500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
}
/* general */
.icon{
    background-color: var(--color-white);
    color: var(--color-darkblue);
    border-radius: 50%;
    padding: 7px 10px;
}
    .icon:hover{
        color: var(--color-white);
        background-color: var(--color-darkblue);
    }

.btnn{
    position: relative;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-poppins);
    font-size: 1rem;
    padding: 0.3rem 1.75rem;
}
    .btnn:hover{
        background-color: var(--color-white);
        border: 8px solid var(--color-white);
        color: var(--color-darkblue);
    }
        .btnn::before,
        .btnn::after{
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
        }
        .btnn::before{
            left: 0;
            top: 0;
        }
        .btnn::after{
            right: 0;
            bottom: 0;
        }
    .btnn.btn-red{
        background-color: var(--color-red);
        border: 8px solid var(--color-red);
        color: var(--color-white);
    }
        .btnn.btn-red:hover{
            background-color: var(--color-darkblue);
            border: 8px solid var(--color-darkblue);
            color: var(--color-white);
        }
        .btnn.btn-red::before{
            border-left: 2px solid var(--color-white);
            border-top: 2px solid var(--color-white); 
        }
        .btnn.btn-red::after{
            border-right: 2px solid var(--color-white);
            border-bottom: 2px solid var(--color-white); 
        }
    .btnn.btn-dark{
        background-color: var(--color-darkblue);
        border: 8px solid var(--color-darkblue);
        color: var(--color-white);
    }
        .btnn.btn-dark:hover{
            background-color: var(--color-white);
            border: 8px solid var(--color-white);
            color: var(--color-darkblue);
        }
        .btnn.btn-dark::before{
            border-left: 2px solid var(--color-white);
            border-top: 2px solid var(--color-white); 
        }
            .btnn.btn-dark:hover:before{
                border-left: 2px solid var(--color-darkblue);
                border-top: 2px solid var(--color-darkblue); 
            }
        .btnn.btn-dark::after{
            border-right: 2px solid var(--color-white);
            border-bottom: 2px solid var(--color-white); 
        }
            .btnn.btn-dark:hover:after{
                border-right: 2px solid var(--color-darkblue);
                border-bottom: 2px solid var(--color-darkblue); 
            }
    .btnn.btn-white{
        background-color: var(--color-white);
        border: 8px solid var(--color-white);
        color: var(--color-darkblue);
    }
        .btnn.btn-white:hover{
            background-color: var(--color-darkblue);
            border: 8px solid var(--color-darkblue);
            color: var(--color-white);
        }
        .btnn.btn-white::before{
            border-left: 2px solid var(--color-darkblue);
            border-top: 2px solid var(--color-darkblue); 
        }
            .btnn.btn-white:hover:before{
                border-left: 2px solid var(--color-white);
                border-top: 2px solid var(--color-white); 
            }
        .btnn.btn-white::after{
            border-right: 2px solid var(--color-darkblue);
            border-bottom: 2px solid var(--color-darkblue); 
        }
            .btnn.btn-white:hover:after{
                border-right: 2px solid var(--color-white);
                border-bottom: 2px solid var(--color-white); 
            }

.card{
    position: relative;
    width: 18rem;
    height: 350px;
    overflow: hidden;
    border: var(--color-white);
    margin: 0 1rem;
}
    .card .card-body{
        line-height: 0;
        background-color: var(--color-white);
        width: 100%;
        z-index: 2;
    }
        .card .card-body p{
            font-family: var(--font-poppins);
            font-weight: var(--font-weight-medium);
            font-size: 0.8rem;
            color: var(--color-lightblue);
        }
        .card .card-body h6{
            font-family: var(--font-poppins);
            font-weight: var(--font-weight-semibold);
            font-size: 1rem;
            color: var(--color-darkblue);
        }
        .card .card-body i{
            color: var(--color-red);
            margin-bottom: 1rem;
        }
        .card .card-body .old-price{
            text-decoration: line-through;
            font-family: var(--font-poppins);
            font-weight: var(--font-weight-regular);
            color: var(--color-lightblue);
            margin-right: 0.3rem;
        }
        .card .card-body .new-price{
            font-family: var(--font-poppins);
            font-weight: var(--font-weight-semibold);
            color: var(--color-darkblue);
        }
    .card .card-icons{
        position: absolute;
        list-style: none;
        top: 100%;
        right: 1rem;
        transition: top 0.5s ease-in-out;
        z-index: 1;
    }
        .card:hover .card-icons{
            top: 20px;
        }
        .card .card-icons li{
            margin: 1rem 0;
        }
    .card button{
        position: absolute;
        list-style: none;
        top: 100%;
        width: 100%;
        transition: top 0.5s ease-in-out;
        z-index: 1;  
    }
        .card:hover button{
            top: 54%;
        }

    .card .card-background{
        position: absolute;
        bottom: 5%;
        height: 0;
        width: 100%;
        background-color: var(--color-grey-10);
        transition: height 0.5s ease-in-out;
        z-index: 0;
    }
        .card:hover .card-background{
            height: 100%;
        }


/* top menu */
.top-menu{
    align-items: center;
    text-align: center;
}
    .top-menu  .container-fluid{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color-grey-20);
        color: var(--color-darkblue);
        padding: 0.5rem;
        max-width: 1920;
    }
        .top-menu .menu-links a{
            color: var(--color-darkblue);
            text-decoration: none;
            margin: 0 1.3rem;
            font-size: 1.2rem;
            font-weight: var(--font-weight-medium);                                                                               ht: var(--font-weight-medium);
            font-family: var(--font-poppins);
        }
            .top-menu .menu-links a:hover{
                color: var(--color-red);
            }

        .top-menu .menu-icons a{
            margin: 0 0.3rem;
        }
        .top-menu .menu-icons #heart,
        .top-menu .menu-icons #cart{
            position: relative;
        }
            .top-menu .menu-icons #heart .badge,
            .top-menu .menu-icons #cart .badge{
                position: absolute;
                background-color: var(--color-red);
                top: -0.4rem;
                left: 0.9rem;
                font-size: 0.6rem;
            } 
            .top-menu .menu-icons #heart:hover .badge,
            .top-menu .menu-icons #cart:hover .badge{
                background-color: var(--color-darkblue);
            } 
        
/* showcase */
.showcase{
    display: flex;
    background-color: var(--color-grey-20);
    justify-content: center;
}
.showcase .container-fluid{
    background-color: var(--color-grey-20);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1920px;
}
    .showcase img{
        height: 846px;
    }

    .showcase .showcase-body{
        align-items: center;
        text-align: center;
        margin: 0 1rem;
    }
        .showcase .showcase-body h1{
            color: var(--color-darkblue);
          font-family: var(--font-poppins);
          font-weight: var(--font-weight-extrabold); 
          font-size: 4rem;
        }
        .showcase .showcase-body p{
            font-family: var(--font-poppins);
            font-weight: var(--font-weight-regular);
            color: var(--color-darkblue);
        }
/* cards delen */
.new{
    text-align: center;
    margin-top: 8rem;
}
    .new > .container {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }

/* top picks */
.top-picks{
    display: flex;
    justify-content: center;
}
    .top-picks .banner{
        position: relative;       
    }
    .top-picks .banner img{
        max-width: 100%;
        height: auto;
        margin-right: 1rem;       
    }
        .top-picks .banner .banner-text{
            position: absolute;
            color: var(--color-white);
            font-family: var(--font-poppins);
            text-align: left;
            top: 30%;
            right: 10%;
        }
        .top-picks .banner .banner-text h2{
            font-weight: var(--font-weight-bold);
            font-size: 2.7rem;
        }
    .top-picks .banner2{
        position: relative;       
    }
    .top-picks .banner2 img{
        max-width: 100%;
        height: auto;
        margin-right: 1rem;       
    }
        .top-picks .banner2 .banner2-text{
            position: absolute;
            color: var(--color-darkblue);
            font-family: var(--font-poppins);
            text-align: left;
            top: 30%;
            right: 60%;
        }
        .top-picks .banner2 .banner2-text h2{
            font-weight: var(--font-weight-bold);
            font-size: 2.7rem;
        }
/* web-info */
.web-info .container{
    display: flex;
    justify-content: space-between;
}
    .web-info .info-box{
        text-align: center;
    }
        .web-info .info-box .info-text{
            font-family: var(--font-poppins);
            line-height: 0;
        }
            .web-info .info-box .info-text h2{
                font-size: 1.25rem;
                font-weight: var(--font-weight-bold);
                color: var(--color-darkblue);
                margin-bottom: 2rem;
                margin-top: 0.5rem;
            }
                .web-info .info-box:hover .info-text h2{
                    color: var(--color-red);
                }
            .web-info .info-box .info-text p{
                font-size: 1rem;
                font-weight: var(--font-weight-regular);
                color: var(--color-lightblue);
                margin-bottom: 1.6rem;
            }
                .web-info .info-box:hover .info-text p{
                    color: var(--color-red);
                }

/* footer social-media */
.social-media {
    background-color: var(--color-grey-20);
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}
    .social-media a{
        color: var(--color-darkblue);
        margin: 0 0.5rem;
    }
        .social-media a:hover{
            color: var(--color-red);
        }
    .social-media h6{
        font-family: var(--font-poppins);
        font-weight: var(--font-weight-regular);
        font-size: 1rem;
        color: var(--color-grey-15);
    }




/* page 2 contacts */
.house-contacts{
    margin-top: 4rem;
}
    .house-contacts a{
        color: var(--color-darkblue);
        font-family: var(--font-poppins);
        font-weight: var(--font-weight-medium);
        font-size: 1rem;
        text-decoration: none;
    }
.map-img{
    align-items: center;
    text-align: center;
}
.contact-us h6{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
    color: var(--color-darkblue);
}
.btn-form{
    display: inline;
    height: 45px;
    width: 15%;
    margin-top: 1rem;
    background-color: var(--color-red);
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    border: none;
}
    .btn-form:hover{
        background-color: var(--color-lightblue);
    }